[2021-10-11 14:32] xperzy opened #25 "[fixed] Training Error when using larger batch size"
**Error:**
Training will fail when using larger batch：
`SystemError: (Fatal) Operator set_value raises an thrust::system::system_error exception.
The exception content is
:parallel_for failed: cudaErrorInvalidConfiguration: invalid configuration argument. (at  /paddle/paddle/fluid/imperative/tracer.cc:192)
`

**Reason:**
The reason is explained by the following issues from PaddlePaddle：
https://gi

[2021-10-18 02:28] xperzy opened #29 "[Image Classification][Model Training] VOLO Token Labeling"
**Describe your feature request**
Token labeling is used in VOLO model training, implement related classes and methods.

**Describe the reference code or paper**
1. The soft target loss and token label loss (official code: https://github.com/sail-sg/volo/blob/main/loss/cross_entropy.py)
2. Token Labeling in main (official code: https://github.com/sail-sg/volo/blob/main/main.py)
3. Token Label rela

[2021-10-18 02:46] xperzy opened #30 "[Image Classification][Model Training] CrossViT training settings"
**Describe your feature request**
Check and modify the training settings for CrossViT models, add missing processing and training methods.

**Describe the reference code or paper**
- Paper link: https://arxiv.org/pdf/2103.14899.pdf
- Official Code: https://github.com/IBM/CrossViT

**Describe the possible solution**
- Paper:
   - "... based on DeiT, and apply their default hyper-parameter for train

[2021-10-18 02:52] xperzy opened #31 "[Object Detection] Cascade Mask R-CNN"
**Describe your feature request**
Cascade Mask R-CNN

**Describe the reference code or paper**
Swin detection official code (from mmdet) [here](https://github.com/SwinTransformer/Swin-Transformer-Object-Detection/tree/master/mmdet/models/detectors)

**Describe the possible solution**
Mask R-CNN is already implemented in PaddleViT [here](https://github.com/BR-IDL/PaddleViT/tree/develop/object_detec

[2021-10-18 02:54] xperzy opened #32 "[GAN][Model Training] Styleformer"
**Describe your feature request**
Styleformer training from scratch

**Describe the reference code or paper**
official repo: https://github.com/Jeeseung-Park/Styleformer

**Describe the possible solution**
TODO

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-10-18 02:55] xperzy opened #33 "[GAN][Model Training] TransGAN"
**Describe your feature request**
TransGAN: training from scratch

**Describe the reference code or paper**
official repo: https://github.com/VITA-Group/TransGAN

**Describe the possible solution**
TODO

**Additional context**
N/A

[2021-10-18 03:00] xperzy opened #34 "[Image Classification] CvT Model"
**Describe your feature request**
Reproduce the CvT model

**Describe the reference code or paper**
Paper: https://arxiv.org/pdf/2103.15808.pdf
official repo: https://github.com/VITA-Group/TransGAN

**Describe the possible solution**
1.  implement the model (refer to official impl. [here](https://github.com/microsoft/CvT/blob/main/lib/models/cls_cvt.py))
2.  Add configs for different model (refer

[2021-10-20 09:49] xperzy opened #37 "[Image Classification] MobileViT"
**Describe your feature request**
Add and debug the multi scale sampler

**Describe the reference code or paper**
Refer to the source code listed in the original paper, from [here](https://arxiv.org/abs/2110.02178?context=cs.LG)

**Describe the possible solution**
Now has an initial version, needs debug and test

**Additional context**
N/A

[2021-10-21 06:10] ccl-private opened #39 "training loss not decrease"
I train the landcover dataset in the image segment model you provide, but the loss does not decrease.
![image](https://user-images.githubusercontent.com/36214675/138221247-1c3aa0d1-8adf-4648-9b09-059665cbb323.png)

[2021-10-28 02:00] xperzy opened #40 "The model ema loading for resume training raises error"
**Describe the bug**
For the classification model which has EMA training,
error occurs when start resuming training.

The EMA model name and loading is not correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Start model training with -resume enabled and EMA = True
2. In the main_single_gpu.py/main_multi_gpu.py, model_ema name and loading raises error

**Expected behavior**
Model EMA sho

[2021-11-04 12:26] xperzy opened #42 "Add LINEAR_SCALE_LR options"
**Describe your feature request**
Add linear_scale_lr arguments in config and control the batch_size for linear lr scale

**Describe the reference code or paper**
N/A

**Describe the possible solution**
Add argument in config.py
Add if-condition in main_single_gpu.py and main_multi_gpu.py

**Additional context**
N/A

[2021-11-04 12:27] xperzy opened #43 "Add onecycle scheduler"
**Describe your feature request**
Add onecycle scheduler, which is used in convmixer

**Describe the reference code or paper**
N/A

**Describe the possible solution**
refered to onecycle impl in timm

**Additional context**
N/A

[2021-11-04 12:29] xperzy commented on #40
This is fixed in related code, such as https://github.com/BR-IDL/PaddleViT/blob/87211e884093b5db229f338f97c4e1e9775d3b31/image_classification/CSwin/main_single_gpu.py#L366

[2021-11-04 12:29] #40 closed

[2021-11-04 12:30] xperzy commented on #39
@wutianyiRosun , Could you please help with this issue?

[2021-11-05 01:06] xperzy opened #45 "Add multi-scale sampler from MobileViT"
**Describe your feature request**
Add the multi-scale sampler for multi gpu batch sampling

**Describe the reference code or paper**
Refer to MobileViT paper: https://arxiv.org/pdf/2110.02178.pdf
Page 18.

**Describe the possible solution**
Refer to original paper.

**Additional context**
N/A

[2021-11-05 01:08] xperzy commented on #37
MobileViT is now merged, so I close this issue

[2021-11-05 01:08] #37 closed

[2021-11-05 12:44] GuoQuanhao commented on #39
Hello, we currently make the performance of the model reach the SOTA, But the current segmentation training process is not complete, the loss func and augmentation and other solvers are in progress. You can follow my [aistudio](https://aistudio.baidu.com/aistudio/projectdetail/2534055). I add some loss function and other tricks, for Trans2seg, my loss is from 5.4 to 0.02 for total training progres

[2021-11-10 07:48] rock4you opened #50 "[Semantic Segmentation] BEiT-L"
Does this model reproduced so far ?
BEiT-L (ViT+UperNet, ImageNet-22k pretrain) mIoU-57.0%
https://paperswithcode.com/paper/beit-bert-pre-training-of-image-transformers

[2021-11-10 08:20] jarygrace opened #51 "`stat.py` needs to be renamed or the VIT code would not run"
**Describe the bug**
There is one file named 'stat.py', which has the same name as the system file. The `stat.py` needs to be renamed  or the VIT code would not run.

[2021-11-12 06:58] rock4you opened #52 "small bugs"
https://github.com/BR-IDL/PaddleViT/blob/develop/semantic_segmentation/src/models/backbones/cswin_transformer.py#L537

[2021-11-12 08:41] xperzy commented on #52
Thanks for the issue!

https://github.com/BR-IDL/PaddleViT/blob/e8dcc35556757b7db27b218cdd1d4410d2943755/semantic_segmentation/src/models/backbones/cswin_transformer.py#L537

I'm closing this issue.

[2021-11-12 08:41] #52 closed

[2021-11-13 12:38] lmk123568 commented on #50
目前暂未支持，敬请期待后续！

[2021-11-18 07:03] rock4you opened #54 "Seg result is less than expected"
https://github.com/BR-IDL/PaddleViT/blob/develop/semantic_segmentation/configs/upernet_swin/upernet_swin_base_patch4_windown7_512x512_160k_ade20k.yaml

train with 8 cards, but the result is less than expected:

#--------------------------------------------------
2021-11-18 14:47:19 [INFO]      [EVAL] #Images: 2000 mIoU: 0.0108 Acc: 0.3663 Kappa: 0.2675
2021-11-18 14:47:19 [INFO]      [EVAL] Class

[2021-11-18 15:26] zlwangustc opened #55 "TransGAN code has some error"
**Describe the bug**
 I found that the code was copied  from the source author's code and some pytorch's code was transformed to paddle error.

**To Reproduce**
***1:***
VIT_custom.py line59
[code]
should be
[code]
***2:***
VIT_custom.py line88
[code]
which
[code]

[2021-11-19 15:57] skpig commented on #43
fixed by #47

[2021-11-19 15:57] #43 closed

[2021-11-19 16:01] lmk123568 commented on #55
感谢关注PPViT，已经给rd反馈

[2021-11-19 16:03] skpig opened #58 "Error about Installation in README"
https://github.com/BR-IDL/PaddleViT/blob/9877f367b3829516c30d105dcc21c4057c82f633/README.md?plain=1#L155-L162

I can't find package `detail` and `yaml` in PyPI.

[2021-11-21 01:54] xperzy commented on #58
@GuoQuanhao could you help handle this issue？

[2021-11-21 01:56] xperzy commented on #54
Thanks for the issue, it has been reported to our developers and we are handling it right now.

[2021-11-21 02:19] wutianyiRosun commented on #54
@rock4you  There may be some problems with the current training code, which we are trying to solve.

[2021-11-21 07:06] xperzy commented on #51
The related stat.py files have been renamed by @jarygrace. So I close this issue

[2021-11-21 07:06] #51 closed

[2021-11-22 05:07] cjh3020889729 opened #64 "Whether a class number parameter is missing in the mixup of training code?"
**Describe the question**
In the classification directory, when MIXUP prerequisites are performed in `main_single_gpu / main_multi_gpu.py`, the `NUM_CLASSES` parameter is not passed, resulting in a `non-IMAGENET1K` data set to load, the existing `main_single_gpu / main_multi_gpu.py` will result in `an error`——since the number of categories of the current model is not equal to 1000, the Mixup defau

[2021-11-22 11:27] xperzy commented on #64
Thanks for the issue, it is indeed a problem if using other dataset where num_class is not 1000.
We are fix this bug ASAP.

[2021-11-22 23:38] libertatis opened #66 "ValueError: The ``path`` (./vit_base_patch16_224) to load model not exists."
当我在 `AIStudio` （经典版）运行 `README.md` "Quick Demo for Image Classification" 中的示例：
[code]
加载预训练权重时，出现了如下错误：
[code]
错误信息显示，加载预训练权重时，需要指定预训练文件的完整文件名，即 `.pdparams` 是必须的。
加载预训练权重时，加上 `.pdparams` 后缀就没有问题了：
[code]

[2021-11-23 03:48] skpig commented on #66
非常感谢您的反馈，我们会尽快修复。

[2021-11-23 07:04] skpig commented on #66
Already fixed with commit https://github.com/BR-IDL/PaddleViT/commit/c4461ddd6c9fe287eff554f9642a096c35a62efe

[2021-11-23 07:04] #66 closed

[2021-11-25 05:04] #64 closed

[2021-11-25 05:25] cjh3020889729 opened #68 "PVTv2 main_single_gpu.py has some error"
**Describe the bug**
A train function has error in main_single_gpu.py

**Expected behavior**
delete the excess function definition.

**Screenshots**
![12](https://user-images.githubusercontent.com/55022974/143384481-c0454654-9568-43e3-87c1-57e4be771c33.png)

[2021-11-25 05:30] #68 closed

[2021-11-26 05:03] DDXDaniel commented on #58
Hello, this may happens when you use Python3, so please use ```pip install pyyaml```  instead or you can use Python2 to install ```yaml``` and ```detail```.

[2021-11-26 07:53] Fan-Zhixuan opened #70 "There is a flaw in the notes"
https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/SwinTransformer/swin_transformer.py line224
The size of the tensor should be '2, window_h * window_w, window_h * window_w',not '2, window_h * window_w, window_h * window_h'

[2021-11-26 10:22] xperzy commented on #70
Thanks for the issue. @jarygrace ,could you please check this issue?

[2021-11-27 01:25] jarygrace commented on #70
Thanks for the issue, it has been modified.

[2021-11-27 11:48] #70 closed

[2021-11-28 06:00] xperzy opened #72 "[New Model] Add HaloNet"
Add HaloNet and align ported weights performance.

Reference paper: https://arxiv.org/pdf/2103.12731.pdf

Timm impl: https://github.com/rwightman/pytorch-image-models/blob/master/timm/models/byoanet.py

[2021-11-28 10:00] libertatis opened #74 "关于 ViT Transformer Attention 添加 attn_head_size 参数的建议"
在 `vit transformer` 的实现中（[ViT Transformer Attention](https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/ViT/transformer.py#L88)），多头注意力的 `attn_head_size` 的计算是由传入的 `embed_dim` 和 `num_heads` 计算得到的：
[code]
我认为这里的实现至少有两个问题：
- 其一，没有对`embed_dim`是否能`num_heads`整除做检查。当`embed_dim`不能被`num_heads`整除，或者`num_heads > embed_dim`时，`transpose_multihead` 的操作会出现异常：
[code]
- 其二，`attn_head_size` 的大小受到

[2021-11-29 01:32] songxujay opened #75 "LERT"
do you have any model for this paper "line Segment detection using transformer without edges"

[2021-11-29 01:55] skpig commented on #74
非常感谢您的认真反馈！ @libertatis
我最近在使用ViT的时候同样出现了与反馈完全相同的问题，如果调整了`embed_dim`必须同时调整`num_heads`，否则在`Attention`计算中将出错。
以下是我个人的一点看法：
1. 首先，我所见过的绝大部分对于multi-attention的实现中，似乎都把`embed_dim`和`all_head_size`值默认等同了（在默认了`all_head_size=d_k=d_v`的简单情况下）。所以我觉得这段代码主要的问题是，由于除法取整的特点，导致`embed_dim != all_head_size`，进而导致后面代码出错。
https://github.com/BR-IDL/PaddleViT/blob/a20f3b7d43b38b7a777e3718067114fffda7075b/image_classificati

[2021-11-29 02:41] libertatis opened #76 "关于 ViT Transformer Encoder 中存在硬编码的问题"
[PaddleViT/image_classification/ViT/transformer.py](https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/ViT/transformer.py#L214) 的 `L300` 创建 `EncoderLayer` 时，参数 `qkv_bias`, `mlp_ratio`, `dropout`, `attention_dropout`存在硬编码的问题，导致 `Encoder` 的 `__init__` 方法传入的参数形同虚设：
[code]
应该改成：
[code]

以上~

[2021-11-29 02:45] xperzy commented on #74
@libertatis 感谢的详细调研和提出这个issue， 也感谢@skpig 参与讨论。  我觉得两位说的都没有问题。 我认为咱们可以同时照顾两种情况，增加一个head_size（单头的dim）作为传入参数，允许这个参数为None，如果是None，我们使用 embed_dim //num_heads + assert 的方式(类似https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/nn/layer/transformer.py#L109)，如果不是None，按照传入参数进行计算。     @libertatis 这个你有没有兴趣帮忙实现一下然后提PR？

[2021-11-29 02:53] xperzy commented on #76
Thanks for the issue!  The bug is fixed now. So I close this issue.
https://github.com/BR-IDL/PaddleViT/blob/42360a611eafa82560d8219fb45596094e738cfb/image_classification/ViT/transformer.py#L300-L306

[2021-11-29 02:53] #76 closed

[2021-11-29 02:55] xperzy commented on #75
Hello, thanks for the feature request!
 @GuoQuanhao @wutianyiRosun , could you evaluate this feature request and see if we can add this model?

@songxujay , if you're interested in develop this model for paddlevit, please let us know!

[2021-11-29 03:22] xperzy commented on #58
The readme files are now updated so I close the issue.

[2021-11-29 03:22] #58 closed

[2021-11-29 03:29] libertatis commented on #74
好哒 ^_^。不过我没有提过 `PR`，具体流程不太熟悉，我先看一下教程。谢谢朱老师的回复~

[2021-11-29 03:30] xperzy commented on #50
@GuoQuanhao @wutianyiRosun Could you guys help evaluate if we can add this model?

[2021-11-29 06:07] libertatis opened #77 "关于 ViT Transformer VisualTransformer 模型输出的疑问"
[PaddleViT/image_classification/ViT/transformer.py](https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/ViT/transformer.py#L330) `VisualTransformer` 模型的输出是不是少了一个 `attn`:
[code]
我个人认为，模型的输出应该同时返回 `attn`的：
[code]
理由如下：
- 其一，每层注意力注意力权重 `attn`，在 `Attention`，`EncoderLayer` 和 `Encoder` 中一直都是由返回的，如果模型输出不返回 `attn`，那么前面几个类的返回将会是多余的，可能毫无意义。
- 其二，每层注意力权重 `attn`，在后期的可视化中可能回用到。我猜前面几个类返回每层注意力权

[2021-11-29 06:19] libertatis opened #78 "关于 ViT Transformer Encoder 中 encoder_layer 深拷贝的疑问"
[PaddleViT/image_classification/ViT/transformer.py](https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/ViT/transformer.py#L277) `Encoder` 初始化创建 `encoder_layer` 时，深拷贝的意义是什么呢？
[code]
`for` 循环创建 `encoder_layer`，每一个 `encoder_layer` 都是不同的对象，也不存在参数共享的问题，这里对 `encoder_layer` 做深拷贝是基于什么样的考量呢？
我个人认为这里对 `encoder_layer` 的深拷贝是不必要的：
[code]
可能是我想的还不够深，期待官方的答疑解惑~

[2021-11-30 02:07] xperzy commented on #78
这个深拷贝是因为在较早期的Paddle2.0版本中，以list方式创建encoderlayer的时候会出现浅拷贝的情况，也就是说，添加的层并不会完全新建一个对象，这会造成运算的时候结果不正确。但是这个问题应该在新版本的Paddle中已经得到解决，所以目前应该不用去考虑这个问题，或者说用或者不用都可以。

This issue have been explained here, so I close this issue.

[2021-11-30 02:07] #78 closed

[2021-11-30 02:17] xperzy commented on #77
Hello， 感谢留Issue，这一部分其实在大部分的模型中没有返回这个attn(其实是attn_weights), 这部分在ViT中保留的原因是给用户展示一下如果需要可视化或者别的用途的时候可以用该方式返回attn weights,但是模型本身的训练和测试不需要这个参数。  目前PaddleViT还没有任何可视化的工具和功能提供，后期可以列入计划。

综上，在ViT模型中完全可以返回attn，目前为了保证主程序和其他模型统一，我建议暂时保留目前的接口，后期再做统一调整。

This issue has been explained above, so I close this issue.

[2021-11-30 02:17] #77 closed

[2021-11-30 02:23] ZLLLZEE opened #79 "small issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'PaddleViT/object_detection/Swin/'
2. Run 'main_single_gpu.py'
4. See error

**Additional context**
Add any other context about the problem here.

issue
github-PaddleViT/object_detection/Swin/中
main_single_gpu.py : line391 缺少train_loss定义
utils.py : 缺少import math

[2021-11-30 02:43] xperzy commented on #79
Thanks for the issue, currently, object detection for Swin is still in developing, we are trying to fix issues and bugs as soon as possible!

[2021-11-30 09:24] wutianyiRosun commented on #50
@rock4you  We are planning to reproduce BEiT-L.

[2021-11-30 12:04] wzh326 opened #81 "一个小bug，datasets.Cifar10 的mode应该是test而不是val"
PaddleViT/image_classification/SwinTransformer/datasets.py 下
![1](https://user-images.githubusercontent.com/79301727/144043607-7159e52b-c00d-4211-9c5e-0b44eab41866.JPG)
在paddle的文档中，datasets.Cifar10 的预测mode 应该为'test'而不是val
![2](https://user-images.githubusercontent.com/79301727/144043839-72d7383b-5752-4046-8452-709a2fa39e80.JPG)
因此我将代码改为
![3](https://user-images.githubusercontent.com/79301727/14404

[2021-11-30 14:19] libertatis commented on #81
是的，`paddle.vision.datasets` 里 [Cifar 数据集](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/vision/datasets/cifar.py) 的 `mode` 取值是 `['train', 'test']`。
再补充一下，这里为了统一数据集的加载，`ImageNet2012Dataset` 的 `mode` 取值也应该改成 `['train', 'test']` ~

[2021-11-30 14:20] #74 closed

[2021-11-30 14:51] richarddddd198 opened #82 "PaddleViT-Seg教程文档中存在的小问题"
文档中多处还使用“SETR”，但是目录文件夹是小写
![FireShot Capture 009 - PaddleViT_semantic_segmentation_configs_setr at develop · BR-IDL_Padd_ - github com](https://user-images.githubusercontent.com/63178095/144069312-f99ae537-b892-4518-b003-c974eb2cf08d.png)
【原文】
CUDA_VISIBLE_DEVICES=0 python3  train.py \
    --config ./configs/**SETR**/SETR_MLA_Large_480x480_80k_pascal_context_bs_8.yaml
【应修改】
CUDA_VISIBLE_DEVICES=0

[2021-12-01 01:45] xperzy commented on #82
Thanks for the issue!

@wutianyiRosun Could you check and update the docs?

[2021-12-01 02:26] RangeKing opened #83 "LabelSmoothingCrossEntropyLoss增加可选参数"
**Describe your feature request**
LabelSmoothingCrossEntropyLoss增加可选参数
losses.py中（以DeiT为例）LabelSmoothingCrossEntropyLoss可选参数较少
https://github.com/BR-IDL/PaddleViT/blob/dd437d454501943929f29d3e85760fb8e577b284/image_classification/DeiT/losses.py#L21-L46

**Describe the reference code or paper**

**Describe the possible solution**
直接调用paddle.nn.functional.cross_entropy计算，可以设置更多参数。
调用前先利用paddle.nn.fu

[2021-12-01 02:55] wutianyiRosun commented on #82
@richarddddd198  Thanks for your pointing this out. Fixed

[2021-12-01 03:02] wutianyiRosun commented on #82
@xperzy Done.

[2021-12-01 03:16] xperzy opened #84 "Change ViT train script"
Change ViT training script according to new version:
https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/SwinTransformer/main_multi_gpu.py

[2021-12-01 09:08] xperzy opened #86 "Add Recompute Feature in Model training"
**Describe your feature request**
Add recompute for dygraph model training, which aims enlarge the batchsize during the training by free intermediate memories.

**Describe the reference code or paper**
N/A

[2021-12-02 05:15] xperzy commented on #83
Good Work!  Would you like to open an PR to merge your implementation?   BTW, since this is an useful component, please add an unittest with your PR. Thanks!

[2021-12-02 07:21] xnli opened #87 "ViT模型验证时要求数据集必须有训练集和验证集不太合理"
**Describe the bug**
在使用ViT基于Imagenet2012数据集进行模型验证时，因为数据集比较大，仅下载了验证数据集。执行模型验证命令，报错，提示没有训练集数据。

经排查，
main_single_gpu.py 在进行模型验证前，需要先加载训练集和验证集。

建议单独增加一个模型验证的脚本。

[2021-12-02 11:35] #82 closed

[2021-12-02 12:18] RangeKing commented on #83
Thanks for the reply! I'll give it a try.

[2021-12-02 14:18] richarddddd198 opened #89 "PaddleViT-Seg安装requirements.txt依赖库时出现问题"
**Describe the bug**
PaddleViT-Seg的requirements.txt文档中需要安装的依赖库有如下：

- cityscapesScripts==2.2.0
- detail==4.0
- numpy==1.20.3
- opencv-python==4.5.2.52
- scipy==1.6.3
- yacs==0.1.8

问题一：
没有**detail** 这个库
<img width="448" alt="微信截图_20211202203427" src="https://user-images.githubusercontent.com/63178095/144438163-53c3a793-d586-4eba-80f8-a7e7be060bf5.png">
自己解决方式：删除detail

问题二：
opencv-python库没有4.5.2.5

[2021-12-02 15:29] liuhui0401 opened #90 "Questions about paddlevit-port-weights.md"
The source code is empty. I want a reference. Please check.

[2021-12-03 00:16] libertatis opened #92 "关于README中命令行参数和Usage模型加载的问题"
我发现 `PaddleViT` 所有模型中的 `README.md` 都存在两个问题（以下均以 [PaddleViT/image_classification/BEiT/](https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/BEiT/README.md) BEiT 模型的 `README.md` 为例）：
- 其一，`Usage` 示例代码中，加载预训练权重时少了后缀 `.pdparams`，而且注释中提到 `.pdparams is NOT needed` 也是不对的，应该是在下面的命令行参数中 `-pretrained` 的值是不需要  `.pdparams`，二者搞混了。
[code]
应该讲注释注释中的 `, .pdparams is NOT needed` 删去，并在模型加载时，加上后缀 `

[2021-12-03 01:42] xperzy commented on #90
The link in the doc has been updated, so I close this issue.

[2021-12-03 01:42] #90 closed

[2021-12-03 01:43] xperzy commented on #89
@wutianyiRosun Could you fix the issue in the readme?

[2021-12-03 01:45] xperzy commented on #89
@richarddddd198 Thanks for the issue, you can refer to the paddlevit main readme to install detail if needed.

The detail package could be installed by the following script:
[code]

[2021-12-03 01:47] xperzy commented on #87
Thanks for the issue!
Yes, that is a real problem if someone only needs to run the validation without touching the training data.

I will fix this and update the code as soon as possible!

[2021-12-03 01:53] xperzy commented on #92
感谢提issue！ 非常有用！ `.pdparams` 的问题确实是readme有问题。  script的问题，我这边没有发现类似的问题， 是因为terminal的版本或者平台不一样的问题吗？  我这边linux shell单引号不会有报错。

[2021-12-03 02:05] xperzy opened #94 "Missing DataParalle in main_multi_gpu.py"
**Describe the bug**
Some of the main_multi_gpu.py in image classification model miss the `paddle.DataParalle(model)`, which may cause the multi-gpu training performs not well.

E.g., in DeiT:
https://github.com/BR-IDL/PaddleViT/blob/0573849f4722ff574fb9a67793d453c8d4bfe597/image_classification/DeiT/main_multi_gpu.py#L326-L329

**Expected behavior**
Add `paddle.DataParallel(model)`

[2021-12-03 02:05] xperzy commented on #94
Other image classification models also needs to check this problem!

[2021-12-03 02:29] libertatis commented on #92
我的操作系统是：Windows 10，版本号为 20H2
命令行终端是：Windows Terminal，版本号为 1.11.2921.0
我没在 Linux 操作系统下测试，不过不带引号的话，在 Linux 系统下应该也不会报错，以前在Linux 终端运行命令的时候，参数也没加过引号。所以建议命令行参数还是统一改成不带引号的会比较好~

[2021-12-03 02:32] libertatis commented on #92
噢，我的意思是，直接把命令复制到终端运行，参数加引号的话会报错，不是在终端运行`.sh` 脚本会报错~

[2021-12-03 03:04] richarddddd198 commented on #89
多谢解疑，在Ai Studio BML环境中，用以上方法安装detail报错无法正常安装。但是没有这库，暂不影响使用PaddleViT-Seg进行训练和验证。

[2021-12-03 03:18] flyinggx commented on #89
### 经典版AiStudio
**1. 在notebook中安装detail时，按照教程命令安装detail失败**
![image](https://user-images.githubusercontent.com/50612571/144537548-ef826ee7-93ac-4b60-9063-d47d5cf25dc3.png)

**2.在teminal安装detail时，显示gcc有问题，需要重新安装，但是AiStudio没有相应权限安装gcc**
![image](https://user-images.githubusercontent.com/50612571/144538735-98464ecf-c91c-493c-8a06-3659ac206bc2.png)

[2021-12-03 11:42] lmk123568 commented on #87
你的建议非常重要

[2021-12-03 12:13] skpig commented on #92
我尝试了在Pycharm集成终端里运行单GPU训练的命令，但是并没有发生所述情况
[code]
但是如果选择使用pycharm配置运行文件，并设置命令行参数为
[code]
会出现报错`FileNotFoundError: [Errno 2] No such file or directory: "'./configs/vit_base_patch16_224_finetune.yaml'"`

[2021-12-03 12:15] libertatis commented on #92
不好意思，我说错了。我用的是 `PyCharm` 开发环境，是在 `PyCharm` 终端运行命令，如果参数值加引号会出现 `FileNotFoundError` 的异常。其他终端, `Windows Terminal` 和 `Git bash` 加引号不会出现这个异常。如果不加引号的话，所有的终端运行都没有问题。非常抱歉~

[2021-12-03 12:17] libertatis commented on #92
我使用的 PyCharm 版本是 `2020.1.5(Professional Edition)` ~

[2021-12-03 12:26] skpig commented on #92
我用的是Pycharm 2021.2

[2021-12-03 12:51] #83 closed

[2021-12-03 17:15] SigureMo commented on #92
这个我昨天使用 win 测试了下，Terminal 本身不会影响的，我同样在 Windows Terminal 进行测试，在选用不同 shell 的情况下结果会有一定差异。我分别测试了 「PowerShell」、「Git Bash」、「cmd」三种 shell，并分别以「不带引号」、「单引号包裹」、「双引号包裹」传参进行测试（3x3=9 种情况），最终结果是只有「以 cmd 为 shell 且传参含单引号」时出现该问题。目测 PyCharm 上的问题也是将 cmd 作为 shell 引起的。

因此删去单引号或者将单引号改为双引号都是一种解决方案（个人倾向于后者），当然还有一种解决方案就是不要用 cmd 作为 shell 啦～๑乛ᆺ乛๑!!! PowerShell 和 Git Bash 不香嘛～～～

[2021-12-03 23:51] #94 closed

[2021-12-05 07:46] wutianyiRosun commented on #89
@flyinggx  gcc version=5.2.0. 如果你在AI Studio上安装or更新GCC有问题，请联系AI Studio的同学哈。或者你用你自己的机器试试

[2021-12-05 07:46] #89 closed

[2021-12-05 08:56] Atlantisming opened #102 "按照semantic_segmentation/readme教程安装环境失败。"
在最后一步
`cd PaddleViT/semantic_segmentation
pip3 install -r requirements.txt`
报错，提示如下
`(paddlevit) D:\PyWorkspace\PaddleViT\PaddleViT\semantic_segmentation>pip3 install -r requirements.txt
Collecting cityscapesScripts==2.2.0
  Using cached cityscapesScripts-2.2.0-py3-none-any.whl (472 kB)
ERROR: Could not find a version that satisfies the requirement detail==4.0 (from versions: none)
ERROR: No match

[2021-12-06 02:46] Li-fAngyU commented on #102
@Atlantisming
可以看下 PaddleViT/semantic_segmentation/requirements.txt 里面的内容吗。
我现在看里面并没有一个叫detail的包

[2021-12-06 03:14] Atlantisming commented on #102
嗯嗯，忽视这个包可以正常使用，我刚看了一下，三天之前这个包被删除了~

[2021-12-06 03:14] #102 closed

[2021-12-06 06:10] flyinggx opened #103 "模型权重文件下载建议"
**现有的预训练参数文件都是在GitHub的项目链接里，这种方式虽然可视化效果好，但实际应用时存在诸多不便：**

![image](https://user-images.githubusercontent.com/50612571/144782435-1f0aa17c-98c3-4509-b843-a7bb75c0dd02.png)

 **建议**

![image](https://user-images.githubusercontent.com/50612571/144783116-ea154993-1ca4-4836-bd5e-b59580ef9944.png)

[2021-12-06 08:15] Y1YU opened #104 "关于loss的计算"
交叉熵loss应该计算预测分布概率与真实分布之间的距离，按道理是应该在softmax计算之后再进行Loss计算的，但是训练代码中都是直接计算loss `loss=criterion(output, label)`，后面才再计算softmax。请问不应该是先计算softmax再计算Loss，还是其实这两者的顺序对训练没有区别

[2021-12-06 12:02] GuoQuanhao commented on #81
感谢指正，这确实是一个bug

[2021-12-06 12:02] #81 closed

[2021-12-06 15:29] libertatis commented on #104
其实 `softmax` 操作是在损失函数里面做了的。这里的交叉熵损失函数使用的是 `PaddleViT` 自定义的 `CrossEntropyLoss` （[点积查看源码](https://github.com/BR-IDL/PaddleViT/blob/796043557bb617abb22fa546876000cc0c8946e4/semantic_segmentation/src/models/losses/cross_entropy_loss.py#L20)），它是通过调用 `paddle.nn.functional.cross_entropy` 函数实现的，而 `cross_entropy` 函数则将 `softmax` 操作和交叉熵的计算算进行了合并（[点积查看文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/

[2021-12-06 15:36] libertatis commented on #104
其实 `softmax` 操作是在损失函数里面做了的。这里的交叉熵损失函数使用的是 `PaddlePaddle` 自带的 `paddle.nn.CrossEntropyLoss` （[点积查看源码](https://github.com/PaddlePaddle/Paddle/blob/release/2.2/python/paddle/nn/layer/loss.py#L132)） 或是 `PaddleViT` 自定义的 `CrossEntropyLoss` （[点积查看源码](https://github.com/BR-IDL/PaddleViT/blob/796043557bb617abb22fa546876000cc0c8946e4/semantic_segmentation/src/models/losses/cross_entropy_loss.py#L20)），它们是通过调用

[2021-12-07 03:13] xperzy commented on #103
Very good suggestion， we are already adding pretrain model weight downloading in python code.

[2021-12-07 05:27] xperzy opened #106 "Allow users to choose the imagenet mean in config file"
**Describe your feature request**
Now dataset.py has hard coded imagenet mean and var, which is not flexible and not easy to find for new users.
This can be set with an argument in config file, users can set the default mean, var values.

[2021-12-07 10:22] wstchhwp opened #107 "单机多卡并行部分代码不理解"
# 如果是多卡训练，则需要初始化多卡训练环境。
    if nranks > 1:
        # Initialize parallel environment if not done.
        if not paddle.distributed.parallel.parallel_helper._is_parallel_ctx_initialized():
            logger.info("using dist training")
            # 初始化动态图模式下的并行训练环境，目前同时初始化NCCL和GLOO上下文用于通信。
            paddle.distributed.init_parallel_env()
            ddp_model = paddle.DataParallel(model)

[2021-12-07 10:44] xperzy commented on #107
Where is  this part of code located?
Please add the reference py file, and if there is a bug, please clarify the bug with more details.
Thanks.

[2021-12-07 13:23] skpig commented on #107
For the multi-nodes training, you may refer to https://github.com/BR-IDL/PaddleViT/blob/multi_node/image_classification/CycleMLP/main_multi_node.py in branch multi_node. The branch is still under develop, it will be merged soon. For simple settings, you may try to add `ips='172.18.0.2, 172.18.0.3'` in `spawn()`with ip addresses replaced by your own hosts' ip.

[2021-12-07 14:09] August0424 opened #108 "Will Mobile-Former of PaddleViT come soon ?"
**Describe your feature request**
Will PaddleViT recently add Mobile-Former and release pretrained weights on ImageNet?

**Describe the reference code or paper**
Paper -> Mobile-Former: Bridging MobileNet and Transformer

**Describe the possible solution**

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-12-08 02:46] wstchhwp commented on #107
我在看paddlevit的代码，是train.py里面的并行计算代码。我发现默认会执行：
if not paddle.distributed.parallel.parallel_helper._is_parallel_ctx_initialized():
        logger.info("using dist training")
        # 初始化动态图模式下的并行训练环境，目前同时初始化NCCL和GLOO上下文用于通信。
        paddle.distributed.init_parallel_env()
        ddp_model = paddle.DataParallel(model)
而不是else。
只是看不懂代码为什么这么写？

[2021-12-08 02:46] wstchhwp commented on #107
好的，谢谢

[2021-12-08 02:59] aiyasin commented on #108
Yes, this pretrained weights will be released soon

[2021-12-08 08:51] xperzy commented on #107
@wstchhwp 这一部分是在什么情况下出现的？ 这个if not ... 应该不是paddlevit里的代码吧？

[2021-12-08 12:51] Q-amazing opened #111 "训练自己的数据集"
代码中说Dataset related classes and methods for ViT training and validation
Cifar10, Cifar100 and ImageNet2012 are supported。
我想问下，我想训练自己的数据集需要自己重新写datase类吗？

[2021-12-09 02:14] xperzy commented on #111
是的，因为我们无法得知您数据集的具体信息和使用方法，所以需要您实现自己的 Dataset 类，然后在项目中（如果是分类任务）dataset.py的 `get_dataset` 方法中添加您的Dataset class。

[2021-12-09 02:15] xperzy commented on #107
Since this is not a bug report or feature request, I close this issue.

[2021-12-09 02:15] #107 closed

[2021-12-09 02:16] xperzy commented on #104
@libertatis Thanks for the clear explanations.  I'm closing this issue.

[2021-12-09 02:16] #104 closed

[2021-12-09 06:28] xperzy commented on #72
HaloNet is now released and merged, so I close this issue

[2021-12-09 06:28] #72 closed

[2021-12-09 08:17] Q-amazing opened #113 "训练loss不下降，精度很差"
为什么我用自己的数据集按照配置单卡训练ViT，效果很差。同一份预料，我在paddle-resnet上可以达到99%精度
![Q1](https://user-images.githubusercontent.com/89431684/145359462-6668f6a0-e146-4f68-9d6e-51d8fe320940.png)
。

[2021-12-10 02:57] xperzy commented on #113
ViT code 已经更新，建议尝试新版本的代码开展实验。

[2021-12-10 02:58] xperzy commented on #84
ViT related code has been updated, so I close this issue (see commit e23569e)

[2021-12-10 02:58] #84 closed

[2021-12-10 02:59] xperzy commented on #42
This has been updated in classification models, so I close this issue

[2021-12-10 02:59] #42 closed

[2021-12-10 03:47] xperzy commented on #87
@xnli This issue has been fixed in ViT, will update to other models asap.
Please see commit 9a7c105 for detailed changes.

I will start a new issue to update other main scripts, so I close this issue

[2021-12-10 03:47] #87 closed

[2021-12-10 03:50] xperzy opened #115 "Support validation without create the training dataset and dataloader"
**Describe your feature request**
Current validation (config.EVAL is True) mode still create and load training dataset and dataloader, which is not flexible when users only have val set.

So main method needs support val mode without touching training set.

**Describe the reference code or paper**
N/A

**Describe the possible solution**
I have a fix in ViT model, which can be used to other classif

[2021-12-10 06:04] Q-amazing commented on #113
好的，收到

[2021-12-10 06:11] Q-amazing commented on #113
我是加载了预训练模型，ViT尺寸是patch16_384，ResNet是50_vd.我调整lr=0.0001，batch_size=32，10轮精度就可以达到0.8以上。

[2021-12-10 14:23] ky0107 opened #116 "small issue"
**Describe the bug**
resume training error
AttributeError: 'Momentum' object has no attribute 'set_dict'

**To Reproduce**
Steps to reproduce the behavior:
1.Go to 'PaddleViT/object_detection/Swin/'
2.Run 'python main_single_gpu.py -resume='./output/train-20211210-09-50-43/Swin-Epoch-45'

The recovery of model can pass

**Screenshots**
`Traceback (most recent call last):
  File "C:\Program Files\J

[2021-12-12 16:38] wstchhwp opened #119 "SETR读取数据集trans10kv2出错"
同样都是trans10kv2， segformer可以训练完成，而SETR报了如下错误：

训练配置如下：
# 数据集的设置
DATA:
    BATCH_SIZE: 16
    BATCH_SIZE_VAL: 16
    DATASET: 'Trans10kV2'
    DATA_PATH: '/home/xxxxxxxx/dataset/Trans10K_cls12'
    CROP_SIZE: (224, 224)
    NUM_CLASSES: 12

4张v100,8张v100都会训练出错。
感觉segformer可以训练完成，而setr迭代70个iters就会报一下错误！感觉好奇怪

Traceback (most recent call last):
  File "train.py", line 166, in <module>
main()
  File "t

[2021-12-14 08:54] xperzy commented on #113
@xperzy 如果加载预训练模型，可能是训练的超参数设置需要进行调整，这个需要根据数据集特点和经验进行了。ViT本身模型较大，如果数据集规模不够，可能会出现较难收敛的情况，ViT比ResNet50要大很多。

[2021-12-14 08:55] xperzy commented on #113
Since this is related to hyperparameter tuning, not a bug for the code, I close this issue

[2021-12-14 08:55] #113 closed

[2021-12-14 08:56] xperzy commented on #119
Thanks for the issue.    @ToscanaGoGithub @wutianyiRosun  Could you help handle this issue?

[2021-12-14 08:58] xperzy commented on #116
Thanks for the issue. Currently, training for the Swin Detection is still in progress, which may have other issues rather than this one.  So I would suggest not using Swin Object detection training now.  We will try to fix as soon as possible.

[2021-12-14 08:59] xperzy commented on #116
@FL77N Could you help evaluate the workload and check out our plan for the swin object detection ?

[2021-12-14 09:15] FL77N commented on #116
Hello! "main_single_gpu.py line 313" try  to change optimizer.set_dict(opt_state) to optimizer.set_state_dict(opt_state)

[2021-12-14 09:41] dustasa opened #122 "PaddleViT/image_classification/PiT/ random_erasing.py bug report"
**Describe the bug**

random_erasing.py line25,
`else rand_color:`
should be
`elif rand_color:`

[2021-12-15 02:16] xperzy opened #123 "Combine RandAug and AutoAug in 1 file"
**Describe your feature request**
There is an implementation of RandAug in  `MAE` branch, while in other models the AutoAug is implemented in `auto_augment.py`, it is more clear if the two can be combined in one file.

**Describe the reference code or paper**
N/A

**Describe the possible solution**
Combine the common functions and classes.

**Additional context**
N/A

[2021-12-15 02:16] xperzy commented on #123
@skpig  Could you help working on this feature?

[2021-12-15 03:14] skpig commented on #123
OK, I'll try my best :)

[2021-12-15 08:08] wstchhwp commented on #119
我试了单张v100训练没有任何问题，因为SETR模型参数比较大，在多卡训练的时候，并且num_workers=0，可能是多卡加载通信的原因吧

[2021-12-15 11:00] ky0107 commented on #116
Thank you for your answer and successfully solved the problem.

[2021-12-15 11:07] ky0107 commented on #116
Thank you for your answer and successfully solved the problem.

[2021-12-16 06:54] xperzy commented on #116
I have change the related code.   Since this issue has been fixed, I close this issue.

[2021-12-16 06:54] #116 closed

[2021-12-16 07:00] xperzy commented on #122
Thanks for the issue, this has been fixed in commit 6f150b8, so I close this issue.

[2021-12-16 07:00] #122 closed

[2021-12-16 08:45] ezekielqu opened #125 "使用自制的COCO数据集训练DETR模型时会遇到问题"
训练DETR遇到的报错，出现的时间不固定，有时候是在训练刚开始几个batch时，有时候是训练了几个epoch后会出现。单卡3090，显存占用率基本维持在50%左右

训练使用的命令：
CUDA_VISIBLE_DEVICES=1 \
python main_single_gpu.py \
    -cfg='./configs/detr_resnet50.yaml' \
    -dataset='coco' \
    -batch_size=2 \
    -data_path='/dataset/coco' \

报错：
Traceback (most recent call last):
  File "main_single_gpu.py", line 321, in <module>
    main()
  File "main_single_gpu.py", line 28

[2021-12-16 12:44] Atlantisming opened #126 "I got some Warning and Error when runing to evaluate DETR model performance on COCO2017 with a single GPU"
I used the AIstudio GPU version and tried the DETR project.But got some CUDA mistake.
I set the config.
`!pip install yacs`
`import paddle`
`from config import get_config`
`from detr import build_detr`
`config = get_config('./configs/detr_resnet50.yaml')`
`model, critertion, postprocessors = build_detr(config)`
`model_state_dict = paddle.load('detr_resnet50.pdparams')`
`model.set_dict(model_state_

[2021-12-18 12:42] tensorfly-gpu opened #129 "注释错误"
swin_transformer.py -> 354 line
#input_resolution: int, input resoultion
should be-->
#input_resolution: tuple, input resoultion

[2021-12-18 14:34] tensorfly-gpu opened #130 "I want paddle can create an api nn.SwinT,inputs and outputs all equal nn.Conv2D"
我想paddle可以增加一个为nn.SwinT的接口，输入和输出完全同卷积。
它可以完全替换掉任意基于卷积模型中的二维卷积层，因为输入和输出形状完全同卷积，因此十分方便。
在卷积和注意力混用的模型中会更加方便（尤其目前很多这方面的研究），非常希望飞桨能将此接口加入到nn.SwinT中，并进行优化。
我观察到虽然Vit在CV领域日渐成熟，但是大家对于他的使用还是比较陌生，更熟悉的还是CNN，所以将SwinT做成和CNN具有相同输入输出的接口将极大方便日常的模型编写和训练。

另一个方面是，我们可以在模型重要的几层用上SwinT，而其他层用卷积，兼顾效率和精度，但是现在没有这样方便的接口供大家方便的去这样的编程。包括Vit用于分类的模型，一般迁移到输出为图片任务的时候，大家很容易迷失，而CNN用于分割检测非常成熟，所以，这也是另一个比较重要的原因。

我对paddleVit中的SwinV1修改

[2021-12-19 14:59] defensetongxue commented on #129
Thank you for pointing out this typo

[2021-12-20 02:51] DDXDaniel commented on #126
hello @Atlantisming , you may check by the following steps:
1. make sure you have installed cuda and cudnn successfully.
2. make sure cuda is compatible with the version of the NVIDIA driver.
3. install the gpu version paddlepaddle.

[2021-12-20 04:31] DDXDaniel commented on #115
I'll fix it later.

[2021-12-20 08:16] Atlantisming commented on #126
@DDXDaniel Thanks for your reply.
But as you can see on the top,I am sure that I have installed cuda and cudnn with this return.
`W1216 20:21:43.708824 167 device_context.cc:404] Please NOTE: device: 0, GPU Compute Capability: 7.0, Driver API Version: 10.1, Runtime API Version: 10.1 W1216 20:21:43.712436 167 device_context.cc:422] device: 0, cuDNN Version: 7.6. 100%|██████████| 151272/151272 [00:0

[2021-12-20 10:32] Atlantisming commented on #126
Thanks! I set it and fix the bug!

[2021-12-20 10:32] #126 closed

[2021-12-22 01:46] wy1996-hub commented on #108
Will PaddleViT add MobileVit(as backbone) for segmentation ?

[2021-12-22 02:49] aiyasin commented on #108
It's planned, but it could take a little longer

[2021-12-22 05:40] DuerWorker opened #134 "Mixup的batch size是否一定需要为偶数？"
在数据增强mixup中，Mixup类中，是否需要assert batch_size % 2 == 0，对于数据集每个epoch最后一个batch，取剩余的图像不一定可以保证所剩的数据量为偶数，在训练过程中出现训练终止的情况。或者可以考虑采用drop_last进行设置。

[2021-12-22 08:24] xperzy commented on #55
PR #55 has been merged. So I close this issue.

[2021-12-22 08:24] #55 closed

[2021-12-22 08:25] xperzy commented on #123
@skpig  Please also modify other auto_augment.py files.
I'm closing this issue.

[2021-12-22 08:25] #123 closed

[2021-12-22 08:28] xperzy commented on #125
Thanks for the issue, currently DETR training is still debugging, if you can provide more details, it would be helpful for us to locate the error. Thanks.

[2021-12-22 08:29] #129 closed

[2021-12-22 08:30] xperzy commented on #129
I close this issue since it is fixed by #131

[2021-12-22 08:31] xperzy commented on #130
Thanks for the suggestion!  We are evaluating this feature!

[2021-12-22 08:52] #115 closed

[2021-12-23 01:28] skpig opened #135 ".DS_Store is pushed to repo in main branch"
@DDXDaniel
Your PR https://github.com/BR-IDL/PaddleViT/pull/133 pushed the .DS_Store file to the repo. I guess it is useless? Please give it a check. If it was pushed accidentally, please open a PR to remove it or just let me know :)

[2021-12-23 02:00] #135 closed

[2021-12-23 02:28] DDXDaniel commented on #134
你好@DuerWorker， batch size一般为偶数(2的幂)主要是方便性能优化，因为线程数通常是2^n这种数字。所以建议设置drop_last=True以防止训练终止。

[2021-12-23 04:56] xperzy opened #139 "Implement HVT model"
**Describe your feature request**
Implement HVT model

**Describe the reference code or paper**

HVT (from Monash University), released with paper Scalable Vision Transformers with Hierarchical Pooling, by Zizheng Pan, Bohan Zhuang, Jing Liu, Haoyu He, Jianfei Cai.

[2021-12-23 04:57] xperzy commented on #139
@jarygrace Could you help implement this model?
Thanks.

[2021-12-23 05:58] tensorfly-gpu commented on #130
感谢老师的回信。我对这个接口抱有很大的期望，已经利用该接口创建了SwinResnet并对其进行了验证。项目地址SwinT-让Swin-Transformer的使用变得和CNN一样方便快捷！ - 飞桨AI Studio - 人工智能学习实训社区 (baidu.com)
之前我觉得我很难使用paddle编写Swin-Transformer的代码，但是看了您的课程之后，虽然从头编写我觉得我还是做不到，但是至少可以找出程序出错的地方并进行修改了，非常感谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月22日(星期三) 下午4:31
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re:

[2021-12-23 06:47] FL77N commented on #125
你好，你在使用 MS-COCO 2017 数据，会出现这类问题吗？

[2021-12-23 08:08] ezekielqu commented on #125
训练COCO2017官方数据集也会遇到同样的报错

[2021-12-23 09:22] #106 closed

[2021-12-23 10:51] FL77N commented on #125
谢谢你的反馈，我们正在处理相关的 bug

[2021-12-24 18:09] SigureMo opened #142 "希望可以增加参数来允许自定义输出路径"
**Describe your feature request**

目前貌似只有少数模型（Focal_Transformer、MobileFormer）是可以通过参数自定义 output 路径的，但自定义输出路径的需求是很常见的（比如 AI Studio 的脚本任务必须将 log 输出到指定目录）。虽然改配置也能做到这一点，但是比较麻烦，因此希望其余模型也支持通过参数自定义 output 路径。

**Describe the reference code or paper**

None

**Describe the possible solution**

增加参数 `-output`，见 PR #143

**Additional context**
Add any other context or screenshots about the feature request he

[2021-12-25 15:58] renmada opened #145 "训练脚本有问题"
试了两个模型xcit和pvt2，从头训练imagenet有两个问题

1. 训练代码均有bug（修改后能跑）
2. 训练loss不降

请问有没有模型是在paddle下从头开始训练过的？

[2021-12-26 03:15] #145 closed

[2021-12-27 03:34] #142 closed

[2021-12-27 03:34] xperzy commented on #142
Good Work!

[2021-12-27 11:51] chandler-25 opened #147 "Paddlevit-seg的demo文件运行无结果"
![image](https://user-images.githubusercontent.com/74530784/147469219-5f383f58-4436-44dc-bc28-ead73ff9d947.png)
读入图片文件后，程序一直保持运行，但result文件中无结果

[2021-12-28 05:43] #139 closed

[2021-12-28 06:42] xperzy commented on #147
@wutianyiRosun Could you help handle this issue?

[2021-12-29 02:13] xperzy commented on #134
This issue has been explained clearly, so I close this issue

[2021-12-29 02:13] #134 closed

[2022-01-04 07:31] xperzy commented on #34
This feature request for new model implementation has been done in https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/CvT

So I close this issue

[2022-01-04 07:31] #34 closed

[2022-01-04 07:32] xperzy commented on #45
This feature request for multi scale sampler DDP has been added in https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/MobileViT

So I close this issue.

[2022-01-04 07:32] #45 closed

[2022-01-05 03:35] Seperendity opened #151 "Pale-Shaped Attention"
请问对给定一个输入特征图，是怎么将其分割成多个相同大小的pale的？论文中pale的维度是一个二维的，这个分割成相同大小的pale具体是在维度上怎么操作的呢，我看论文中的图没有体现分割出了多个pale，能以图中h=9，sr=sw=3为例说明一下嘛。谢谢

[2022-01-06 03:11] xperzy commented on #151
Thanks for the issue !

@wutianyiRosun  Could you help answer this question?

[2022-01-06 03:19] wutianyiRosun commented on #151
@Seperendity 你可以把Figure1 (e)的每两个粉色行（或者列）之间的两个白色行(或者列）用别的两种颜色进行着色，就可以得到三个pale（三种不同颜色）

[2022-01-06 03:23] Seperendity commented on #151
@wutianyiRosun @xperzy 感谢解答，和我之后的理解一致。

[2022-01-07 01:41] xperzy commented on #151
Since the issue has been explained clearly, I close this issue.

[2022-01-07 01:41] #151 closed

[2022-01-11 02:50] xperzy commented on #30
This has been fixed in

[2022-01-11 02:50] #30 closed

[2022-01-21 10:08] #125 closed

[2022-01-21 18:03] haribhutanadhu opened #157 "Small issue regarding vit_large_patch16_224.pdparams"
How to get weight files of backbone networks that should be placed in this ` PaddleViT/semantic_segmentation/pretrain_models/backbones/note.md ` directory

[2022-01-22 09:41] #157 closed, assigned to nobody

[2022-01-29 02:43] wstchhwp opened #163 "请问paddlevit里面的模型可以部署吗？比如转成onnx?"

[2022-02-11 01:23] xperzy commented on #163
Thanks for the issue!
paddlevit的模型基本上没有依赖第三方的包，转成onnx应该没有问题。
如果在转换过程中有任何问题请提issue我们一起看下。

[2022-02-14 02:29] wstchh commented on #163
好的，谢谢开源，期待这个repo更新更多的模型！

[2022-02-14 03:26] #163 closed, assigned to nobody

[2022-02-15 06:32] wstchhwp opened #164 "predict.py没有嘛？"
给的案例只有train.py和eval.py文件，没有看到predict.py文件

[2022-02-16 02:59] xperzy commented on #164
Thanks for the commit.
我新上传了一个简单的说明文档介绍如何使用paddlevit实现预测方法，
https://github.com/BR-IDL/PaddleViT/blob/develop/docs/paddlevit-predict-cn.md

简要的流程：
1. 在`datasets.py`中：
    - 增加定义目标数据集的class
    - 增加`get_test_transforms`方法实现数据预处理
    - `get_dataset`方法中增加目标数据集的调用方法
2. 在 `main_single_gpu.py`中：
    - 在数据集定义的部分，修改为目标数据集
    - 增加`predict`方法，可以参考并修改`validate`方法，去掉criterion等需要label信息的操作，方法返回预测结果
    - 在主方法中

[2022-02-17 06:04] wstchhwp commented on #164
检测的流程也是有一样的吧。

[2022-02-17 06:12] zhijiejia opened #165 "config中存在一些用不着的参数配置，比如 DECODER_LR_COEF"
作者好，我在segformerB4的config中看到了DECODER_LR_COEF参数，应该是设置backbone和decoder不同的学习率，但是在代码中没看到哪里有用这个参数设置啊？ get_optimizer中也没有用到, 这个参数是不是冗余了

[2022-02-17 06:18] xperzy commented on #164
基本上是的，目前检测的代码还没有非常完善，遇到问题请随时提issue！

[2022-02-17 06:18] #164 closed, assigned to nobody

[2022-02-17 11:53] RangeKing commented on #165
感谢反馈，目前SETR和Segmentor中使用了`DECODER_LR_COEF`参数。Segformer中确实没有用到这个参数。

[2022-02-21 07:22] Isaver23 opened #166 "请问近期有放出MobileFormer的训练精度和ckp的计划吗？"
请问近期有放出MobileFormer的训练精度和ckp的计划吗？
https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/MobileFormer

[2022-02-22 03:00] xperzy commented on #166
Hello，目前我们还没有能够复现出官方论文中的精度，在pytorch上的第三方复现相关讨论也没有能够复现（https://github.com/ACheun9/Pytorch-implementation-of-Mobile-Former/issues/1），由于官方没有开源该项目，所以我们暂时还不能够确定什么时候能够提供结果。

[2022-02-22 03:35] Isaver23 commented on #166
谢谢回复～想问一下如果不到论文提到的精度，那基于这个库的实现能训练到什么精度呢？这部分数据是否方便share一下？

[2022-03-04 02:23] GeYuYao-hub opened #167 "纯小白，关于DeiT准确率不高的问题"
您好，我是一名大二学生，近期在利用paddle撰写一篇deit的论文，我通过看您的课找到了这个项目，我将DeiT在aistudio上运行，除了将dataset设置为cifar10之外没有修改任何的参数，但是模型的准确率一直稳定在10%左右，我很emo不知道哪里出了问题，请问是我的使用方法不对吗？

[2022-03-04 02:26] xperzy commented on #167
Hello, 感谢使用项目！ 目前咱们DeiT应该没有提供Cifar10的预训练模型，提供的可下载模型是在imagenet上训练的。 如果是使用cifar10数据重新进行训练，请提供一下更多的训练相关信息，方便我们定位问题， 谢谢！

[2022-03-04 02:29] GeYuYao-hub commented on #167
哦！那我应该先用cnn去训练一个老师模型，然后再来训练对嘛

[2022-03-04 02:48] xperzy commented on #167
1. 建议去找一个paddle的模型，已经在cifar10上训练好即可，需要模型文件(.py)和预训练权重文件(.pdparams)。
2. 可能需要修改dataset.py里的数据处理部分，目前的数据处理是针对imagenet的，需要调整为cifar10的
3. 训练的超参数可能也需要进一步调整。

[2022-03-04 03:57] GeYuYao-hub commented on #167
好的！感谢朱老师！

[2022-03-07 07:36] blackcow opened #168 "Will Pale Transformer of PaddleViT come soon ?"
Thank you for your reply : )

[2022-03-07 13:54] peach-xiao opened #169 "PaddleViT用于语义分割数据集加载问题"
您好！我在使用PaddleViT语义分割用于自己的数据集的时候遇到了问题，希望您可以抽空帮我解决一下

1.使用自己的数据集用于语义分割，或者Cityscapes，ADE20K等数据集，lable标签载入应该是彩色的图片，还是已经将颜色（如0，255，255）转换为对应类别（如类别1，）后的黑色图片呢？目前我没有在代码中找到label标签颜色和类别转换的代码。

2.为什么使用数据增强策略，在模型是val的时候，图片进行了数据增强，而label没有对应的也进行相应的变换。而是直接open图片？如在semantic_segementation/src/datasets/ade.py和vaihingen.py

  if self.mode == 'val':
            img, _ = self.transforms(img=image_path)  # --> img进行相应

[2022-03-08 05:57] xperzy commented on #169
Hello, 感谢使用PaddleViT，您的问题我们已经收到。

@wutianyiRosun 能否尽快看一下并处理这个问题？Thanks！

[2022-03-08 05:57] xperzy commented on #168
Hello, 感谢使用PaddleViT，您的问题我们已经收到。

@wutianyiRosun 能否尽快看一下并处理这个问题？Thanks！

[2022-03-10 03:08] wutianyiRosun commented on #169
@xiaoguoguo2018
关于问题1： label是指单通道的map, 范围是0,..., Num_Class -1.
关于问题2：在验证测试时label一般不做数据增强，一方面我们期待模型为输入图像做分割预测，输入你怎么变换都可以，但label要保持原始的。另一方面，如果label也做数据增强，那精度评估就不公平了，因为不同人使用数据增强也有差异。

[2022-03-10 03:10] wutianyiRosun commented on #168
@blackcow:
Thank you for your attention. Recently, we are busy with ECCV.  We will release it as soon as possible.

[2022-03-11 01:38] xperzy opened #171 "Add automatic download for imagenet list files."
**Describe your feature request**
Now the dataset for ImageNet2012 requires the "train_list.txt" and "val_list.txt" in the same folder as "train" and "val"  which stores the images.

Users are required to download the txt files and locate to the correct dir manually, which can be automated by our code.

**Describe the possible solution**
1. txt files can be uploaded in github repo
2. Add check and

[2022-03-11 01:48] peach-xiao opened #172 "模型的验证时，滑动窗口验证有什么用？"
开发者团队您好！我最近使用了PaddleViT 框架中swinTransformer 语义分割Segmentation中的upernet_swin_tiny训练自己的数据集，遇到了以下问题不是很明白

问题1：训练过程中保存了以xxxx.pdparams和xxxx.pdopt为后缀的模型文件，第一个是用于加载评估模型用的，请问xxxx.pdopt有什么用呢？
        if (cur_iter % config.SAVE_FREQ_CHECKPOINT == 0 or cur_iter == config.TRAIN.ITERS) and local_rank == 0:
            current_save_weigth_file = os.path.join(config.SAVE_DIR,

[2022-03-11 07:44] peach-xiao opened #173 "Paddle ViT框架是否能够提供新手入门教程？"
PaddlePaddle很多的系列都有相应的新手教程，如PaddleSeg, PaddleDetction。PaddleViT框架包含了计算机视觉语义分割和自然语言处理NLP的一些知识。目前我是PaddleViT用做的分割，我发现不管是训练还是验证还是和PaddleSeg有些细节不同，为了解决和弄清楚一些细节问题，我花费了很多的时间在上面。如果可以出一份新手入门的框架使用就更好了。例如：包括模型的加载，数据集的可视化，模型的预测说明等等。

愿Paddle团队在未来越做越好！

[2022-03-14 02:15] xperzy commented on #172
Thanks for the issue.   我们收到了您的问题，并会尽快回复。  我理解在分割验证时候使用滑窗，会在一定程度上提升性能，但是会带来运行时间上的增加，有些论文中也report了滑窗的结果，如果不使用滑窗可能会无法对齐论文中的结果。   @wutianyiRosun 麻烦你看下这个问题看是否有补充

[2022-03-14 02:18] xperzy commented on #173
感谢提出非常有用的建议，您是特指分割的教程还是整个ppvit（PaddleViT简称）的，如果是后者，在
https://github.com/BR-IDL/PaddleViT/tree/develop/docs
https://github.com/BR-IDL/PaddleViT/tree/develop/edu
中我们都有提供一些ppvit的使用教程和课程，如果还有其他问题或者我们还有哪些可以补充进来的，欢迎随时提issue！

感谢！

[2022-03-14 02:28] peach-xiao commented on #173
非常感谢您的帮助！我期待的就是PaddleViT的使用文档教程，之前没有注意docs文件夹里的教程，现在我的问题已解决。

[2022-03-14 06:24] wutianyiRosun commented on #172
@xiaoguoguo2018 关于问题1， xxxx.pdopt是用来保存optimizer的相关数据，方便用于resume训练
关于问题2, @xperzy 的回复是准确的

[2022-03-14 07:48] xiaoguoguo2018 commented on #172
对于滑动窗口验证，我还有以下问题

1. 请问一下滑动窗口验证的步长是否会影响模型验证的结果呢？比如说我的验证集图片大小是512x512，当我的滑动窗口步长分别是256和341或者别的步长，加载同样的权重模型，验证的结果是否不同？

2.设置滑动窗口的步长有什么注意事项吗？我注意到不同的数据集，裁剪窗口的大小和对于的步长都有所不同。如在yaml文件里设置验证Val的参数：pascal_contex数据集 验证的CROP_SIZE: [480,480], STRIDE_SIZE: [320,320]，adk数据集   CROP_SIZE: [512,512]， STRIDE_SIZE: [341,341] ，cityscapes数据集    CROP_SIZE: [768,768] STRIDE_SIZE: [512,512]
验证时设置的裁剪窗口大小和步长是有对应关系的吗？设置其他的步长是

[2022-03-16 11:14] peach-xiao opened #174 "用于PaddleViT模型的Resnet预训练权重哪里下载？"
在PaddleViT用于语义分割的Trans2Seg模型，配置文件里需要使用resnet50c.pdparams的预训练权重文件，想问下是否可以提供一下下载方式？如果有resnet50, resnet101，resnet50c, resnet101c等系列模型文件能够提供一份吗？
![image](https://user-images.githubusercontent.com/40911688/158577078-a07967bd-4893-4cfe-aaf2-13ba00f5cd1a.png)

感谢！@xperzy

[2022-03-16 11:17] peach-xiao opened #175 "滑动窗口验证相关问题"
对于滑动窗口验证，我还有以下问题希望可以得到你们的帮助

1. 滑动窗口验证的步长是否会影响模型验证的结果呢？比如说我的验证集图片大小是512x512，当我的滑动窗口步长分别是256和341或者别的步长，加载同样的权重模型，验证的结果是否不同？

2. 设置滑动窗口的步长有什么注意事项吗？我注意到不同的数据集，裁剪窗口的大小和对于的步长都有所不同。如在yaml文件里设置验证Val的参数：pascal_contex数据集 验证的CROP_SIZE: [480,480], STRIDE_SIZE: [320,320]，adk数据集 CROP_SIZE: [512,512]， STRIDE_SIZE: [341,341] ，cityscapes数据集 CROP_SIZE: [768,768] STRIDE_SIZE: [512,512]
验证时设置的裁剪窗口大小和步长是有对应关系的吗？设置其他的

[2022-03-18 08:41] xperzy commented on #174
@xiaoguoguo2018  Thanks for the issue.    @wutianyiRosun Could you provide the above links for resnets pretrain weigths?

[2022-03-20 03:35] #167 closed, assigned to nobody

[2022-03-21 08:49] peach-xiao opened #177 "加载预训练模型相关问题"
1.代码中的预训练模型vit_large_patch16_224.pdparams是在ImagenNet1K还是ImagenNet22K上训练的吗？这个模型文件是由原论文SwinTransformer或ViT提供的预训练模型.pth转换.pdparams，还是开发者团队你们在ImageNet上训练训练后提供的？为什么将该模型应用于512x512大小的图片不会报错，而我尝试着将swinTransformer的原作者提供的预训练pth模型swin_tiny_patch4_windown7_224.pth（因为paddleViT没有提供upernet_swin系列的模型）转换为.pdparams却只能应用于224的大小。我没能明白开发团队提供的vit_large_patch16_224.pdparams却可以用于512x512，768x768等大小， 能否简单介绍一下该预训练模型

![imag

[2022-03-23 04:44] Lemonahahah opened #178 "BEIT模型在paddle混合精度训练下 前向出现nan。"
BEIT模型在paddle混合精度训练下 前向出现nan。

[2022-03-23 04:46] Lemonahahah commented on #178
patch embeding阶段就已经存在nan了：
<img width="667" alt="image" src="https://user-images.githubusercontent.com/94953627/159625907-c73cdb84-d123-43df-9da4-37192b62a683.png">

[2022-03-23 04:59] wstchhwp opened #179 "最新的一些检测模型会用paddle实现吗？"

[2022-03-23 09:01] xperzy commented on #179
我们已经实现了DETR，PVTv2等基于ViT的检测模型，如果有新的检测模型的需求，可以回复一下，我们会尽快评估和安排开发进度！ 我们也欢迎开发者为paddlevit项目贡献新的算法实现。 谢谢！

[2022-03-23 09:03] xperzy commented on #178
Thanks for the issue, 我们已经收到您的反馈，希望您能够提供更多信息，例如输入数据，模型等，我们会尽快安排修复。

[2022-03-23 09:06] xperzy commented on #177
@xiaoguoguo2018 感谢提供反馈！

1. 该模型是我们从官方模型转换到paddle并对齐精度的版本，我理解是22k->1k的模型权重，@wutianyiRosun确认一下？
3. @wutianyiRosun 帮忙看一下具体的模型和配置

[2022-03-24 03:26] #173 closed, assigned to nobody

[2022-03-24 05:49] Lemonahahah commented on #178
可以给个HI的账号吗？厂内用户，想咨询几个问题。
发件人: xperzy ***@***.***>
答复: BR-IDL/PaddleViT ***@***.***>
日期: 2022年3月23日 星期三 下午5:03
收件人: BR-IDL/PaddleViT ***@***.***>
抄送: "He,Feng(KG)" ***@***.***>, Author ***@***.***>
主题: Re: [BR-IDL/PaddleViT] BEIT模型在paddle混合精度训练下 前向出现nan。 (Issue #178)

Thanks for the issue, 我们已经收到您的反馈，希望您能够提供更多信息，例如输入数据，模型等，我们会尽快安排修复。

—
Reply to this email directly, view it on GitHub<https://mailsh

[2022-03-24 09:47] xperzy commented on #178
我这更新了一版代码，请查看https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/BEiT

[2022-03-24 09:49] xperzy commented on #178
好的！

zhuyu05

On Thu, Mar 24, 2022 at 1:49 PM Lemonahahah ***@***.***>
wrote:

[2022-03-28 13:05] Lizb6626 opened #183 "Logging error in ViT code"
`./PaddleViT/image_classification/ViT/utils.py` line61 and line64

`sys.stdout` has no attribute `setFormatter`

[2022-03-28 13:53] xperzy commented on #183
Thanks for the issue!  This has been fixed and the code is merged.

[2022-03-28 13:53] #183 closed, assigned to nobody

[2022-03-29 01:56] #178 closed, assigned to nobody

[2022-03-29 01:57] #92 closed

[2022-03-29 02:01] #119 closed

[2022-03-29 02:08] #179 closed, assigned to nobody

[2022-04-02 08:49] wutianyiRosun commented on #177
@xiaoguoguo2018  模型文件是由原论文SwinTransformer或ViT提供的预训练模型.pth转换.pdparams的
关于”尝试着将swinTransformer的原作者提供的预训练pth模型swin_tiny_patch4_windown7_224.pth（因为paddleViT没有提供upernet_swin系列的模型）转换为.pdparams却只能应用于224的大小“ 问题，我想可能原因是你设置您的输入分辨率不是window_size的整数倍时，需要进行padding处理。

[2022-04-02 08:52] wutianyiRosun commented on #175
@xiaoguoguo2018  P1: 滑动窗口验证的步长会影响模型验，一般会小于1%。
P2:  STRIDE_SIZE通常设为Crop_size的2/3
P3: 你的理解是对的

[2022-04-02 08:53] wutianyiRosun commented on #174
@xiaoguoguo2018  可以到PaddleClass下载

[2022-04-02 08:55] #50 closed

[2022-04-02 08:57] #75 closed

[2022-04-08 03:26] GuoQuanhao commented on #174
![image](https://user-images.githubusercontent.com/49911294/162356818-68c666d5-c973-49f9-8d20-5b6724adf7b1.png)
在这里下载，Readme首页Trans10kV2部分有列出

[2022-04-08 03:26] #174 closed, assigned to nobody

[2022-04-16 10:56] wangwuwei opened #193 "MobileFormer"
请问最近会给出MobileFormer的pretrained weights吗？

[2022-04-17 07:51] wstchhwp commented on #31
期待cascade rcnn与swin结合的代码，这个打比赛中很常用。

[2022-04-18 01:47] xperzy commented on #193
感谢支持。 我们还在尝试训练MobileFormer，由于目前官方代码也没有再提供，可能还需要一些时间完善我们的开发。

[2022-05-06 12:30] #177 closed, assigned to nobody

[2022-05-06 12:30] #175 closed, assigned to nobody

[2022-05-06 12:31] #172 closed, assigned to nobody

[2022-05-08 13:32] peach-xiao opened #202 "如何保留最优的模型"
您好！在使用PaddleVIT用于语义分割的过程中，我遇到了问题，希望可以得到您的帮助：

我研究了train.py在训练过程中保存的部分代码，采用的策略是根据训练的 Iter 次数（如：2000次保存一次模型），然后根据配置保留最新的10个模型，我有一个疑问，在训练过程中模型其实很有可能就已经达到最优了，再继续训练会导致过拟合的问题。也就是说其实最后保留的10个模型里面，很有可能在验证集上的结果不是最优的甚至更差，这样并不能在验证集反映一个模型的好坏。

采用这样的策略：在训练集上训练一次，然后在验证集上验证一次，若比之前的效果好，就更新最好的模型，训练完成后也就保留在验证集上评价指标最好的模型，这样的话是不是会更好？

但是我发现，不管是一些框架，或是一些顶级期刊论文中提供的代码，他们采用的训练方案和你们一样的保留模型的方法，如：迭代次数160k，然后训练完成后用最后的模型进行验证（但

[2022-05-08 13:42] peach-xiao opened #203 "能否提供TranFormer可视化效果CAM图的实现代码"
很多论文中为了解释模型的可行性，采用了可视化模型输出的某一层特征图，使用热力图显示，注意基于TransFormer和CNN的模型可视化方法有所不同，PaddleVIT能否集成这些可视化方案呢？

目前已有人实现了这些方法，可以参考这些github连接：
https://github.com/hila-chefer/Transformer-Explainability
https://github.com/jacobgil/pytorch-grad-cam

![image](https://user-images.githubusercontent.com/40911688/167298773-f7dfe245-5882-4070-a61c-5e11aabe8304.png)

[2022-05-09 03:11] CPones opened #204 "加载预训练模型，动转静态图报错。"
export_model.py
[code]

TypeError: In transformed code:

    File "/home/aistudio/CaiT/cait.py", line 493, in forward
	x = self.forward_features(x)
    File "/home/aistudio/CaiT/cait.py", line 481, in forward_features
	# Self-Attention blocks
    File "/home/aistudio/CaiT/cait.py", line 373, in forward
	x = self.attn(x)
    File "/home/aistudio/CaiT/cait.py", line 228, in forward
        B, H, C =

[2022-05-09 03:21] peach-xiao opened #205 "paddleClas预训练模型加载问题"
我想用PaddleVIT做语义分割任务，有些backbone并没有提供预训练模型Backbone_checkpoint，比如Swin_Tiny，Swin_Small, 但是我在paddleClas有找到这些模型，在加载的时候出现了对于不匹配的问题，请问采用的是什么解决方案呢？

![image](https://user-images.githubusercontent.com/40911688/167301797-a9a0312c-2ebc-435a-a3e9-1944a2f99e2c.png)

[2022-05-09 03:50] VivizSun opened #206 "Calculate the ACC error during train the model"
When I am training the model, there is an error in calculating ACC.
Could you provide a way for me to solve it?

Error message:Tensor holds the wrong type, it holds int, but desires to be int64_t.
![11](https://user-images.githubusercontent.com/98437625/167337476-0063b19f-e974-49a4-9650-c247083f588b.PNG)

pred and label type
![pred](https://user-images.githubusercontent.com/98437625/167337678-0bb4

[2022-05-09 05:07] xperzy commented on #203
Thanks for the issue.
非常好的建议，对于使用PaddleViT做研究的同学来说的确是比较有用的一个工具。
我这边会尽快调研相关功能并开始实现。

如果有任何其他需求，请随时提issue。

Thanks！

[2022-05-09 05:09] xperzy commented on #204
Thanks for the issue.
We are fixing this problem now and will update once finished.

[2022-05-09 05:10] xperzy commented on #205
Hello, thanks for the issue, we are noticing this problem and now we are fixing it.

@wutianyiRosun Could you please help handle this issue?

[2022-05-09 05:21] xperzy commented on #206
Hello, Thanks for the issue, we don't see this problem in our env, could you please provide your paddle version ?
A quick fix is to add a type conversion in the loop where the data is loaded from dataloader, such as:
[code]

P.S.,
From the screenshot I saw the `main_single_gpu.py` may not be the updated code in our implementation, could you please refer to our new impl https://github.com/BR-IDL/Pa

[2022-05-11 03:19] VivizSun commented on #206
Hi xperzy,
My env are as shown below.
Package            Version
------------------ -------------
appdirs            1.4.4
astor              0.8.1
certifi            2021.10.8
charset-normalizer 2.0.12
cityscapesScripts  2.2.0
colorama           0.4.4
coloredlogs        15.0.1
cycler             0.11.0
decorator          5.1.1
fonttools          4.33.3
humanfriendly      10.0
idna               3

[2022-05-12 05:41] xperzy commented on #206
@VivizSun  Is your problem sovled by using : label = label.astype('int64')  ?

[2022-05-12 05:57] VivizSun commented on #206
@xperzy Yes, thank you very much.

[2022-05-12 07:22] #206 closed, assigned to xperzy

[2022-05-25 02:12] shuxp opened #208 "MaskFormer support"
**Describe your feature request**
Add MaskFormer to paddlevit.

**Describe the reference code or paper**
https://arxiv.org/abs/2107.06278

**Describe the possible solution**
iMaybe there are some implementations with pytorch format, but paddle format is better...

[2022-05-26 02:25] xperzy commented on #208
Hello, thanks for the issue.
We are evaluating the model implementation and will update once it is done.

[2022-06-07 01:16] aihcyllop opened #209 "TypeError: 'int' object is not iterable"
您好

在run segmentation 的demo.py 我遇到如下问题

 for i, dim in enumerate(out_shape):
    TypeError: 'int' object is not iterable

请问问题出在哪里谢谢

我环境亦照说明文件安装
相对应的model和pretrained等文件亦下载并放置

[2022-06-07 01:57] xperzy commented on #209
Thanks for the issue. @ToscanaGoGithub @wutianyiRosun Could you please help handle this issue?

[2022-06-15 07:10] mozhuqin opened #210 "请问，何凯明的Masked Autoencoders Are Scalable Vision Learners这篇论文有复现嘛？"
请问，何凯明的Masked Autoencoders Are Scalable Vision Learners这篇论文有复现嘛？复现的模型有GAN参数代码嘛？

[2022-06-15 16:54] wmkai opened #211 "请问有提供模型训练的日志吗？"
比如分类中的topformer模型

[2022-06-16 13:38] xperzy commented on #210
Hello， thanks for the issue， 我们有复现一个版本，目前只能实现从pytorch转来模型进行前向性能对齐，但是train from scratch目前还没有对齐精度。这个部分目前还在debug中。

[2022-06-16 13:40] xperzy commented on #211
Hello， thanks for the issue， topformer我们正在训练中，由于机器资源有限，可能还需要一段时间，一旦完成paddle上的train from scratch，我们会及时更新模型和log。 如果有特殊需求可以单独联系我！谢谢！

[2022-06-16 13:55] wmkai commented on #211
谢谢回复，我看仓库里好像已经有topformer分类模型的ckpt了，但是没有log

[2022-06-22 07:56] kaierlong opened #212 "cswin_large_224 pretrained 22k model"
where can I get the cswin_large_224 pretrained 22k model and the 22kto1k labels mapping file.
I want to fine-tune the cswin_large_224 model with imagenet-1k dataset myself.

[2022-06-24 02:39] #212 closed, assigned to xperzy

[2022-06-24 02:40] xperzy commented on #212
Hello, the ported weight file is update [here](https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/CSwin#models-zoo).

[2022-06-24 03:22] kaierlong commented on #212
@xperzy
thanks for adding the pretrained 22k model. And where can I get the mapping file which map 22k label id to 1k label id. If it doesn't exist, how can I generate it?
Thanks!

[2022-06-24 03:28] xperzy commented on #212
Hello, I don't think you need to have the mapping file for fine-tuning on imagenet 1k.   The last linear layer of the model (the 'head' layer) is different when you load the pretrained 22k and train on 1k model, this linear layer is considered to be trained from scratch for 1k classes.

[2022-06-24 03:29] kaierlong commented on #212
@xperzy OK, I get it. Thanks again!

[2022-06-24 07:04] GtxMiracle opened #214 "t2t利用paddlelite进行pto可以导出定点模型，但评测时报错"
Traceback (most recent call last):
  File "eval.py", line 120, in <module>
    main()
  File "eval.py", line 116, in main
    eval(args)
  File "eval.py", line 80, in eval
    fetch_list=fetch_targets)
  File "/Users/gtx/opt/anaconda3/envs/paddle/lib/python3.6/site-packages/paddle/fluid/executor.py", line 1262, in run
    six.reraise(*sys.exc_info())
  File "/Users/gtx/opt/anaconda3/envs/paddle/li

[2022-06-25 21:02] paolotarantino commented on #193
Hi, is there any news about pretrained weights for MobileFormer?
Thanks

[2022-06-28 02:50] xperzy commented on #211
Hello, 目前提供的模型是从官方模型转到paddle下的，使用paddlevit从零开始训练的模型文件和log我刚刚更新了，[here](https://github.com/BR-IDL/PaddleViT/blob/develop/image_classification/TopFormer/README.md)

由于原文中没有提供具体的训练细节和参数，我这边目前base模型能够得到 **74.22%** 的acc，如果需要完全复现论文准确率，建议增大Epoch数量，或者对其他超参数进行调节。

[2022-06-28 02:51] #211 closed, assigned to nobody

[2022-06-28 02:53] xperzy commented on #214
Thanks for the issue, I'm fixing this problem and will update once finished.

[2022-06-28 06:13] wmkai commented on #211
非常感谢！另外，topformer官方仓库里放出的分类模型的ckpt里有保存了训练的超参数。

[2022-06-28 09:38] xperzy commented on #214
Hello @GtxMiracle, I have fixed the code and now in my env the model after quant can be load and run using paddleslim eval.py.

Please check the new commit [here](https://github.com/BR-IDL/PaddleViT/commit/b1da9f33a851ddd89f32df08394d628ea64ce73f)

and newly added documents [here](https://github.com/BR-IDL/PaddleViT/blob/develop/docs/paddlevit-quant-cn.md) for details.

[2022-06-30 08:54] GtxMiracle commented on #214
您好，使用了您提供的最新的模型文件和导出脚本，量化后的模型测试时仍然报错：
Traceback (most recent call last):
  File "eval.py", line 120, in <module>
    main()
  File "eval.py", line 116, in main
    eval(args)
  File "eval.py", line 80, in eval
    fetch_list=fetch_targets)
  File "/Users/gtx/opt/anaconda3/envs/paddle/lib/python3.6/site-packages/paddle/fluid/executor.py", line 1262, in run
    six.reraise(*sys.exc_info())
  File "/

[2022-07-01 02:19] xperzy commented on #214
@GtxMiracle 模型导出方式是否按照上面提到的文档提供的方式进行导出？ 转静态图过程中有无报错？ batchsize等是否设置正确？

[2022-07-01 02:20] xperzy commented on #214
请提供更多的信息，方便我们判断问题在哪。

[2022-07-11 13:23] xpanp opened #215 "关于mae的预训练模型是否包含decoder部分"
请问，mae提供的预训练模型包括decoder部分吗？官方代码里面提供的ckp都是只包含encoder部分的。
由于没怎么使用过paddle相关的工具，本想用VisualDL工具直接查看提供的预训练模型，但是本地的界面上一直提示打不开文件。

[2022-07-23 04:14] VBPython opened #217 "说明文档在数据准备阶段的Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. When the cace '...'
2. Run '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following info

[2022-07-29 07:43] Viktorjc98 commented on #209
同样的问题，请问你解决了吗？

[2022-08-08 02:05] xperzy commented on #217
非常感谢提出上面的问题，请问是哪一个或者哪几个链接发现了此问题？

?pwd=a4vm应该是网盘的免输验证码的用法，我这边试了几个链接可以正常访问，如果有发现具体那个页面有问题，我来修改为正确格式。
谢谢！

[2022-08-11 04:39] RebornForPower commented on #168
@wutianyiRosun
Thanks for sharing your work~
Could this code be released soon？
Thank you very much ：-）

[2022-08-15 06:16] #215 closed, assigned to nobody

[2022-08-17 02:25] juncaipeng opened #218 "TopFormer预测精度"
@GuoQuanhao

你好，我在测试TopFormer分割模型的前向预测精度中，发现点问题，请帮忙看下。

首先在PaddleVit首页，通过google网盘下载训练好的模型权重topformer_base.pdparams。
![image](https://user-images.githubusercontent.com/52520497/185020500-f9d7300c-c57b-41dd-9ed7-9a24491685bd.png)

然后执行脚本进行分割预测：
python val.py --config configs/topformer/topformer_base_512x512_160k_2x8_ade20k.yaml --model_path topformer_base.pdparams

log中显示没有加载成功参数，精度是全错的，是不是提供下载权重的链接

[2022-08-23 07:02] peach-xiao opened #219 "如何计算VIT模型的Flops ?"
我想计算基于Transformer的一些分割模型的FLOPs用于评估实验模型的性能, 使用的是Paddle.flops来计算，但是出现了一些无法统计的情况（ Treat it as zero FLOPs），是不是这样计算出来的FLOPs的值是不准确的呢？可以如何解决？

我看到的是需要自己定义用于实现对自定义网络层的统计，也就是参数custom_ops，目前只找到了官方提供的用于计算paddle.nn.SyncBatchNorm的方法， 但是我不知道怎么设计用于计算.MaxPool2D、.LayerNorm、.GroupNorm、 .GELU、 Embedding这些函数，如果不计算的话，最后得出的FLOPs值应该有较大的差异，可以帮我解决这个问题吗？

![image](https://user-images.githubusercontent.com/40911688/18609288

[2022-09-06 04:48] caikw0602 opened #221 "求train_list.txt, val_list.txt"
能否提供一下imagenet2012数据集中的train_list.txt和val_list.txt? 感激不尽

[2022-09-06 11:27] xperzy commented on #221
请参考https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/ViT#data-preparation
页面中的link:
- `train_list.txt`: list of relative paths and labels of training images. You can download it from: [google](https://drive.google.com/file/d/10YGzx_aO3IYjBOhInKT_gY6p0mC3beaC/view?usp=sharing)/[baidu](https://pan.baidu.com/s/1G5xYPczfs9koDb7rM4c0lA?pwd=a4vm?pwd=a4vm)
- `val_list.txt`: list of re

[2022-09-06 11:27] #221 closed, assigned to nobody

[2022-09-06 12:30] caikw0602 commented on #221
朱老师，您好，很喜欢您的课程，学习过您的《从零开始学视觉Transformer》，也听过您在论文复现营中的代码实现讲解，深入浅出，让我受益非浅，借这个机会跟您说下感谢！

谢谢朱老师的回复，是我自己没有找到data-preparation的链接，我是从源码datasets.py中class ImageNet2012Dataset的注释中找的链接，那个链接打不开，地址跟这个也不相符，建议修改一下吧，谢谢啦！

另外，我看现在的paddleViT 的项目中大部分模型都是提供了main_multi_gpu.py，请问可以提供一个main_single_gpu.py给我们学习吗？我记得以前有的，但是现在好像取消了？

[2022-09-07 09:19] xperzy commented on #221
感谢回复。
1. 已经在dataset.py 中修改comment的链接。
2. main_multi_gpu.py 目前已经支持单GPU，只需要使用 CUDA_VISIBLE_DEVICES=0 就可以开启，如果遇到问题欢迎提issue。

[2022-09-08 01:50] caikw0602 commented on #221
感谢回复，谢谢

[2022-09-14 07:36] #208 closed, assigned to nobody

[2022-09-16 08:21] xpanp commented on #215
学艺不精。mae官方代码里面提供的ckp是包含encoder部分的。paddle，下次一定！

[2022-09-21 12:34] ljf20122010 commented on #209
我也是这个问题，你们解决了吗？

[2022-09-25 02:45] #217 closed, assigned to nobody

[2022-10-07 07:45] AlphaMind123 opened #222 "图片的patch问题"
**Describe your feature request**

**Describe the reference code or paper**

**Describe the possible solution**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-10-07 07:56] #222 closed, assigned to nobody

[2022-10-11 12:44] AlphaMind123 opened #223 "head_dim"
![image](https://user-images.githubusercontent.com/108966996/195093719-351803f2-f58d-46c3-a90f-2659bf2c0557.png)

红框里面的x不是已经将最开始输入的x  chunk成3份了吗，为什么还是all_head_dim,不应该是head_dim吗？

[2022-10-12 13:12] zhao-zi-an commented on #108
你好，请问MobileFormer的预训练权重发布了吗

[2022-10-12 13:13] zhao-zi-an opened #224 "MobileFormer的预训练权重"
你好，请问MobileFormer的预训练权重发布了吗

[2022-10-13 01:44] wyxogo commented on #108
[https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/MobileViT#models-zoo](https://github.com/BR-IDL/PaddleViT/tree/develop/image_classification/MobileViT#models-zoo)

[2022-10-13 01:44] #108 closed

[2022-10-26 02:04] liuhuan1111 opened #225 "MobileFormer"
**Describe your feature request**
您好，请问MobileFormer关于目标检测方面的复现有吗？

**Describe the reference code or paper**

**Describe the possible solution**

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-11-07 07:20] jakeju92 opened #226 "ViT pretrained weight with MAE"
**Describe your feature request**
Any chance we could get the pretrained ViT model with MAE?

**Describe the reference code or paper**
[Masked Autoencoders Are Scalable Vision Learners](https://arxiv.org/abs/2111.06377)

**Describe the possible solution**
Please pretrain the ViT with MAE and upload the weight link to the readme file. Thanks in advance!

**Additional context**
None.

[2022-11-22 12:08] ghost opened #227 "请问vit-base-patch16-224的模型是仅通过仓库训练脚本得到的吗？"
仓库里提供的vit-base-patch16-224模型精度好高，84.5%，甚至比MAE pretrain之后再finetune报告的精度还要高，所以想问一下该权重是否是使用仓库里的训练脚本+learn from scratch得到的。

[2022-11-28 03:02] wstchhwp opened #228 "MixSoftmaxCrossEntropyLoss 与MultiCrossEntropyLoss"
你好，我看这两个函数的实现，看起来这两个类名字颠倒了

[2022-11-30 01:55] wstchhwp opened #229 "挺好的一个项目，不更新维护了？？"

[2022-11-30 03:17] xperzy commented on #229
非常感谢对项目的关心！ 也非常遗憾一段时间没有更新维护代码。 由于我这边工作内容的变化，现阶段没有足够的资源能够支持项目和模型的持续开发；欢迎给项目提一些建议！